<header id="header" ui-view="header" class="header-container bg-white" ng-class="::{ 'header-fixed': app.admin.fixedHeader }"></header>

<div class="main-container" ng-class="::{ 'app-nav-horizontal': app.admin.menu === 'horizontal' }">
    <aside id="nav-container" ui-view="nav" class="nav-container bg-dark" ng-class="::{ 'nav-fixed': app.admin.fixedSidebar, 'nav-horizontal': app.admin.menu === 'horizontal', 'nav-vertical': app.admin.menu === 'vertical' }"></aside>

    <div id="content" ui-view="body" class="content-container">
         <b> welcome to App</b>
    </div>

    <footer id="footer" ui-view="footer" class="app-footer hidden-xs">

    </footer>
</div>